<!-- Logo Marquee -->
<div class="c-clients-carousel">
  <div class="c-clients-carousel__track">
    <!-- First set of logos -->
    <div class="c-clients-carousel__item"></div>
    <div class="c-clients-carousel__item"></div>
    <div class="c-clients-carousel__item"></div>
    <div class="c-clients-carousel__item"></div>
    <div class="c-clients-carousel__item"></div>
    <div class="c-clients-carousel__item"></div>
    <div class="c-clients-carousel__item"></div>
    <div class="c-clients-carousel__item"></div>
    <!-- Duplicate set for seamless loop -->
    <div class="c-clients-carousel__item"></div>
    <div class="c-clients-carousel__item"></div>
    <div class="c-clients-carousel__item"></div>
    <div class="c-clients-carousel__item"></div>
    <div class="c-clients-carousel__item"></div>
    <div class="c-clients-carousel__item"></div>
    <div class="c-clients-carousel__item"></div>
    <div class="c-clients-carousel__item"></div>
  </div>
</div>
