:root {
  --nd-color-soft-blue: #B9CFF8;
  --nd-color-baby-blue: #29A0F5;
  --nd-color-mist-blue: #EBF2FD;
  --nd-color-ink-black: #0C101B;
  --nd-color-white: #ffffff;
  --nd-color-black: #000000;
  --nd-color-stone: #F1F2F6;
  --nd-color-outline-blue: #4A90E2;
  --nd-color-focus-gold: #F5B841;
}
